<?xml version="1.0"?>
<!--
/**
 * Panth_ZipcodeValidation
 *
 * @category  Panth
 * @package   Panth_ZipcodeValidation
 * @author    Panth
 * @copyright Copyright (c) 2025 Panth
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <zipcode_validation>
            <general>
                <enabled>1</enabled>
                <validate_on_checkout>1</validate_on_checkout>
                <validate_on_account>1</validate_on_account>
                <validate_on_registration>1</validate_on_registration>
                <error_message>Please enter a valid Indian PIN code (6 digits).</error_message>
                <show_success_message>1</show_success_message>
                <success_message_format>Valid PIN code for {state}</success_message_format>
            </general>
            <display>
                <success_color>#007a33</success_color>
                <error_color>#e02b27</error_color>
            </display>
        </zipcode_validation>
    </default>
</config>
